language: go
sudo: required

go:
  - "1.13"

services:
  - docker

script:
  - make test

after_success:
  - docker build -t proxypool .
  - docker tag proxypool $DOCKER_USERNAME/proxypool:latest
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker push $DOCKER_USERNAME/proxypool:latest
  - docker images
